# backup versions
*~

# vim swap-files
*.swp

# ghc+gcc noise
*.hi
*.o

# c2hs noise
*.h
*.chi

# binaries
Test

# genereated files
Graphics/UI/Gtk/WebKit/NetworkRequest.hs
Graphics/UI/Gtk/WebKit/NetworkResponse.hs
Graphics/UI/Gtk/WebKit/WebBackForwardList.hs
Graphics/UI/Gtk/WebKit/WebFrame.hs
Graphics/UI/Gtk/WebKit/WebHistoryItem.hs
Graphics/UI/Gtk/WebKit/WebSettings.hs
Graphics/UI/Gtk/WebKit/WebNavigationAction.hs
Graphics/UI/Gtk/WebKit/WebPolicyDecision.hs
Graphics/UI/Gtk/WebKit/WebView.hs
Graphics/UI/Gtk/WebKit/WebInspector.hs
Graphics/UI/Gtk/WebKit/WebDatabase.hs
Graphics/UI/Gtk/WebKit/WebDataSource.hs
Graphics/UI/Gtk/WebKit/WebResource.hs
Graphics/UI/Gtk/WebKit/Download.hs
Graphics/UI/Gtk/WebKit/SecurityOrigin.hs
Graphics/UI/Gtk/WebKit/WebWindowFeatures.hs
Graphics/UI/Gtk/WebKit/General/General.hs
Graphics/UI/Gtk/WebKit/General/Types.hs
Graphics/UI/Gtk/WebKit/General/Enums.hs
Network/Soup/Message.hs
Network/Soup/General/Types.hs
doc/*
